    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/static/addtask.css">
    </head>
    <body>
        
      {% if current_user.is_authenticated %}
    
      <div class="logoutnav">
        <nav>
          <h2 class="logo">TODO</h2>
          <ul>
            <li class="one"><a href="/addtask">Add Task</a></li>
            <li class="one"><a href="/gettaskhistory">Get Task History</a></li>
            <li class="one"><a href="/tasklist">Get Task List</a></li> 
          </ul>
          <button type="submit"><a href="logout">Logout</a></button>
        </nav>
      </div>

      <h1>Add Task</h1>

      
  <form action="/addtask" method="post">
  
    <div class="container">
        <div class="form registration">
            <div class="inputBox">
                <input type="text" required="required" name="TaskName">
                <span>TaskName</span>
            </div>
            <div class="inputBox">
                <input type="Date" required="required" name="StartDate">
                <span>Start Date of Task</span>
            </div>
            <div class="inputBox">
              <input type="Time" required="required" name="StartTime">
              <span>Start Time of Task</span>
          </div>

          <div class="inputBox">
            <input type="Date" required="required" name="DueDate">
            <span>Due Date of Task</span>
        </div>

            <div class="inputBox">
                <button type="submit"><span></span> Add Task</button>
            </div>
        
        </div>
    </div>
    </form>
    {% endif %}
</body>
</html>
    
    